<% if user_signed_in? %>
  <h1>Friends List</h1>
    <table class="table table-dark table_striped table-bordered table-hover">
      <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
      <th> </th>
      </tr>
      </thead>
      <tbody>
    <turbo-stream action="append" target="new-friend">
      <% @friends.each do |friend| %>
        <% if friend.user == current_user %>
          <tr class="table-light">
          <template>
            <td id="new-friend">
              <%= link_to friend.first_name + ' ' + friend.last_name, friend %>
                </td>
                <td><%= friend.email %></td>
                <td><%= friend.phone %></td>
                <td><%= friend.twitter %></td>         
                <td><%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
              </tr>
            </template>
          <% end %>
        <% end %>
    </turbo-stream>
      </tbody>
    </table>

<%= link_to "New friend", new_friend_path, class:"btn btn-secondary"%>
  <% else %>
    <h1> Hello World! </h1>
      Welcome to my first Rails app, a friend list application. Please sign up and log in to use the project!
<% end %>